<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188446669753-73pl4fs9q7os17ilorkq9np883nkcqe5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188446669753-73pl4fs9q7os17ilorkq9np883nkcqe5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>188446669753-v5qp3q9d26qm3fakqnrrmr7kmp2n20qb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeGecQ_eKtD_97wK-DNRa2TMsuogItuuw</string>
	<key>GCM_SENDER_ID</key>
	<string>188446669753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitalmagna.thedrive</string>
	<key>PROJECT_ID</key>
	<string>thedrive-8cd03</string>
	<key>STORAGE_BUCKET</key>
	<string>thedrive-8cd03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188446669753:ios:49876377b76855da589468</string>
</dict>
</plist>